@import '/src/styles/paletteColors';

%size-button {
  width: 240px;
  height: 53px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play {
  @extend %size-button;
  background-color: $blue-aqua;
  color: $text-primary;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
  border: solid;
  border-width: 0 0 4px 4px;
  border-color: $green-lemon;
}
