@import '/src/styles/paletteColors';

%main-content-props {
  background-color: $primary-background;
  margin-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  @extend %main-content-props;
  padding: 0px 15%;
}

@media (max-width: 768px) {
  .main-content {
    padding: 0 10px;
  }
}
