@import '../../styles/paletteColors';

%title-game {
  display: flex;
  align-items: center;
  background-color: $green-lemon;
  color: $text-secondary;
  padding: 8px 16px;
  border-radius: 25px;
  font-weight: bold;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  max-height: 100px;
  max-width: 300px;
}

.title-game {
  @extend %title-game;
  font-size: 14px;
  height: 25px;
}

@media (min-width: 700px) {
  .logo {
    max-height: 140px;
    max-width: 480px;
  }
  .title-game {
    @extend %title-game;
    font-size: 20px;
    height: 30px;
  }
}
