@import '/src/styles/variables';

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}

.logo {
  max-height: 180px;
  max-width: 520px;
}

.title-game {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: $green-lemon;
  color: $text-secondary;
  padding: 8px 16px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
}
