@import '/src/styles/paletteColors';
@import '/src/styles/breakpoints';

%game-container-props {
  max-width: 1180px;
  height: 100%;
  background-color: $secondary-background;
  border-radius: 16px 16px 0 0;
  box-sizing: border-box;
}

.game-container {
  @extend %game-container-props;
  margin-top: 32px;
  padding: 0 5%;
  width: 100%;
}

.titles {
  display: flex;
  justify-content: space-between;
}

@media (max-width: $breakpoint-medium) {
  .game-container {
    @extend %game-container-props;
    padding: 0 5%;
  }
}
