@import '/src/styles/paletteColors';
@import '/src/styles/breakpoints';

.cards-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 16px;
  row-gap: 16px;
  margin-top: 24px;
}

@media (max-width: $breakpoint-small) {
  .cards-container {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: $breakpoint-large) {
  .cards-container {
    grid-template-columns: auto auto auto;
  }
}
